# 시작하기

In [8]:
print ("hello python")
print (32)
print('hi')
print ('계산:', '좀더', 3000*2, '입니다.')
sale=3000*100+1234
print ('오늘의 매출은', sale, '입니다.')

hello python
32
hi
계산: 좀더 6000 입니다.
오늘의 매출은 301234 입니다.

In [12]:
# 성장율= (이번달 매출 - 지난달 매출)/지난달 매출 *100
성장율= (5000-1000)/1000*100
print ('이번달 성장율은', (5000-1000)/1000*100, '%입니다.')

이번달 성장율은 400.0 %입니다.

In [14]:
이달매출=3000
지난달매출=1000
성장율= (이달매출-지난달매출)/지난달매출*100
print ("이번달의 성장율은", 성장율, "%입니다.")

이번달의 성장율은 200.0 %입니다.

In [15]:
input()

 1234

'1234'

In [3]:
이달매출 = input('이번달 매출액을 입력하세요')
지난달매출 = input('지난달 매출액을 입력하세요')
print (이달매출, 지난달매출)

이번달 매출액을 입력하세요 5000
지난달 매출액을 입력하세요 1000

5000 1000

In [6]:
name=input('당신의 이름을 알려주세요.')
print(name+"님! 반갑습니다!!")

당신의 이름을 알려주세요. 박순선

박순선님! 반갑습니다!!

# print()의 활용

In [2]:
가격=1000
수량=10
매출= 가격*수량
print(매출)

10000

In [3]:
print("이번달 매출은", 매출, "입니다.")

이번달 매출은 10000 입니다.

In [9]:
#사과, 멜론, 바나나
과일목록1="사과"
과일목록2="멜론"
과일목록3="바나나"
print(과일목록1, 과일목록2)

사과 멜론

In [10]:
print(과일목록3)

바나나

In [16]:
print(과일목록1, 과일목록2, 과일목록3, sep='>') #sep=','

사과>멜론>바나나

# 데이터의 타입

In [17]:
12345, "12345"

(12345, '12345')

In [18]:
type(12345), type("12345")

(int, str)

In [19]:
data=12345
data2="12345"
type(data), type(data2)

(int, str)

In [21]:
12345+10, "12345"+"10"

(12355, '1234510')

In [22]:
data+10, data2+10

TypeError: can only concatenate str (not "int") to str

In [23]:
name="sunny"
age=50
print("나의 이름은 {}이고, 나이는 {}입니다."

SyntaxError: incomplete input (1436236236.py, line 3)

In [ ]:
print("이번달 매출은", 매출, "입니다.",sep="")

In [24]:
name="sunny"
age=50
print("나의 이름은 {}이고, 나이는 {}입니다.".format(name, age))

나의 이름은 sunny이고, 나이는 50입니다.

In [27]:
#fstring
print(f"나의 이름은 {name}이고, 나이는 {age}입니다.")

나의 이름은 sunny이고, 나이는 50입니다.

In [28]:
print(f"나의 이름은 {name}이고, 내년나이는 {age+1}입니다.")

나의 이름은 sunny이고, 내년나이는 51입니다.

In [29]:
#기본입력
name=input("이름을 입력하세요:")
print(f"입력한 이름: {name}")

# 숫자 입력 (문자열을 숫자로 변환)
age = int(input("나이를 입력하세요: "))
print(f"내년 나이: {age + 1}")

이름을 입력하세요: sunny

입력한 이름: sunny

나이를 입력하세요:  50

내년 나이: 51

In [30]:
int(age)+1

51

In [31]:
age=20.8
type(age)

float

In [ ]:
stdent_name="sunny"

In [32]:
1_name='sunny'

SyntaxError: invalid decimal literal (1690627598.py, line 1)

In [ ]:
PI=3.141592 #constant 상수

In [1]:
#input( )#shift+tab키 매개변수 확인
print(abs(-3.14))

3.14

In [ ]:
print(

In [37]:
a=30, 20, 10, 50 #패킹
type(a), a

(tuple, (30, 20, 10, 50))

In [39]:
x,y,z,a1=a #언패킹
x,y

(30, 20)

In [40]:
a=10
b=a
a,b

(10, 10)

In [41]:
id(a), id(b)

(140706477402840, 140706477402840)

In [43]:
a=20
id(a)

140706477403160

In [ ]:
user_name='sunny' #snake
userName='sunny' #camel
_name='sunny' #private, 나만 쓰겠다
__name__='sunny' #더블언더스코어 '던더', 시스템이 내부적으로 사용한다.
print(str(20)) #__str__()
_password=1234

In [44]:
a="hi"
b="hi"
id(a), id(b)

(140706477445600, 140706477445600)

#변수의 영역 namespace
지역변수-특정영역, 전역변수-어디서나

In [50]:
def local_exam(): #사용자정의 함수
    local_var=100
    print(f"함수내부: {local_var}")

local_exam()
local_var=200
local_exam()
print(f"함수외부:{local_var}")

함수내부: 100
함수내부: 100
함수외부:200

In [54]:
counter=0  #전역변수
def inc_counter():
    global counter
    #temp=a+1
    #a=temp
    #a=a+1
    #a += 1
    counter= counter+1
    print(counter)

inc_counter()
inc_counter()
inc_counter()

1
2
3

In [3]:
name = input ('a')
print (name)

ttt