In [ ]:
import pymysql

In [1]:
import pymysql

In [2]:
#My SQL 서버에 연결
con = pymysql.connect(
  host='localhost',
  user='root',
  password = '1234',
  db= 'wntrade',
  charset = 'utf8'
  )
#커서생성
cursor = con.cursor()

In [3]:
cursor.execute("show tables")

7

In [4]:
for row in cursor.fetchall():
    print(row)

('고객',)
('마일리지등급',)
('부서',)
('사원',)
('제품',)
('주문',)
('주문세부',)

In [5]:
#sql쿼리 실행
sql = """
select 사원번호, 이름, 부서명
from 사원 left join 부서
on 사원.부서번호 = 부서.부서번호
"""

In [7]:
cursor.execute(sql)

10

In [8]:
for row in cursor.fetchall():
  print(row)

('E01', '이소미', '영업부')
('E02', '배재용', '기획부')
('E03', '유대현', '영업부')
('E04', '최소민', '영업부')
('E05', '안주훈', '영업부')
('E06', '이현진', '영업부')
('E07', '오영수', '영업부')
('E08', '선하라', '개발부')
('E09', '유가을', '영업부')
('E10', '정수진', None)

In [9]:
cursor.close()
con.close()

In [1]:
import pymysql

In [2]:
#My SQL 서버에 연결
con = pymysql.connect(
  host='localhost',
  user='root',
  password = '1234',
  db= 'wntrade',
  charset = 'utf8'
  )
#커서생성
cursor = con.cursor()

In [13]:
#sql쿼리 실행
sql = """
select 도시, avg(마일리지) as 평균마일리지, (select avg(마일리지)
					from 고객
					) as 전체평균마일리지
from 고객 
group by 도시
having avg(마일리지) > (select avg(마일리지)
					from 고객
					);
"""

In [7]:
cursor.execute(sql)
result=cursor.fetchall()

In [9]:
result

(('서울특별시', Decimal('11137.0800'), Decimal('8623.9462')),
 ('김해시', Decimal('8758.0000'), Decimal('8623.9462')),
 ('인천광역시', Decimal('13088.0000'), Decimal('8623.9462')),
 ('대전광역시', Decimal('14822.0000'), Decimal('8623.9462')),
 ('제주시', Decimal('8838.0000'), Decimal('8623.9462')))

In [10]:
for row in result:
  print(row)

('서울특별시', Decimal('11137.0800'), Decimal('8623.9462'))
('김해시', Decimal('8758.0000'), Decimal('8623.9462'))
('인천광역시', Decimal('13088.0000'), Decimal('8623.9462'))
('대전광역시', Decimal('14822.0000'), Decimal('8623.9462'))
('제주시', Decimal('8838.0000'), Decimal('8623.9462'))

In [11]:
cursor.close()
con.close()

In [9]:
import pymysql

In [10]:
def getconnection():
  #My SQL 서버에 연결
  con = pymysql.connect(
  host='localhost',
  user='root',
  password = '1234',
  db= 'wntrade',
  charset = 'utf8'
  )
  return con

In [11]:
import pandas as pd

In [15]:
#mysql 연결함수 호출
con = getconnection()


try:
    #2.커서 생성
    with con.cursor() as cursor:
      #3. sql 실행
      cursor.execute(sql)
      #4.쿼리실행결과 받기
      result=cursor.fetchall()
      #dataframe으로 결과 변환하기
      result_df=pd.DataFrame(result)
  
  
finally:
  
  con.close()

In [16]:
result_df

       0           1          2
0  서울특별시  11137.0800  8623.9462
1    김해시   8758.0000  8623.9462
2  인천광역시  13088.0000  8623.9462
3  대전광역시  14822.0000  8623.9462
4    제주시   8838.0000  8623.9462

In [18]:
cursor.close()
con.close()

Error: Already closed