In [2]:
#피보나치 수열 Q1. 첫번째 항의 값이 0이고 두 번째 항의 값이 1일때, 
#이후에 이어지는 항들은 이전의 두 항을 더한 값으로 이루어지는 수열을 피보나치 수열이라고 한다.

#0, 1, 1, 2, 3, 5, 8, 13, ...    
#입력을 정수n으로 받았을 때, n 개의 피보나치 수열을 출력하는 함수를 작성해보자

In [ ]:
def fibo (i):
    result []
    if i <=0
     return re

In [ ]:
#문자열 압축하기
def

In [1]:
#Duplicate Numbers
def chk_dup_num(s):
    result=True
    val_list=[]
    for num in s:
        if num not in val_list:
            val_list.append(num)
        else:
            result=False
    return result

In [ ]:
#문자열 숫자를 정수로 변환하기
def convert_int(s):

In [5]:
def sal_calc():
    result=0
    sal=int(input('월급을 입력하세요:'))
    tax=sal*0.1
    net_salary=sal-tax

    print(f'월급: {sal:,}')
    print(f'세금: -{int(tax):,}원')
    print(f'실수령: {net_salary:,}원')

sal_calc()

월급을 입력하세요: 500000

월급: 500,000
세금: -50,000원
실수령: 450,000.0원