In [2]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [6]:
#1~100 사이의 4의 배수 출력
for i in range(4,100, 4):
    print (i)

4
8
12
16
20
24
28
32
36
40
44
48
52
56
60
64
68
72
76
80
84
88
92
96

In [7]:
%%time
sum=0
for i in range(1, 100001):
    sum += i
print(sum)

5000050000
CPU times: total: 15.6 ms
Wall time: 23.4 ms

In [ ]:
#문자열 순회
isUpper=False
isDigit=False
isSpecial=False
isLower=False
special_char= "!@#$%"
password='abc21!'
#비밀번호 조건 만족여부 확인
for char in password:
    if char.isupper(): 
        isUpper= True
    elif char.isdigit():
        isDigit= True
    elif char.isloweer():
        isLower= True
    elif char in special_char:
        isSpecial=True
    check_result=isUpper+isDigit+isLower+isSpecial
    
print(f"비밀번호 강도 조건 만족여부: isUpper and isDigit else '불만족'}"

In [8]:
visitor_ids = [101, 102, 103, 101, 104, 102, 105, 101, 103]

# 집합으로 변환 (자동 중복 제거)
unique_visitors = set(visitor_ids)
unique_visitors

{101, 102, 103, 104, 105}

In [ ]:
print(f'총방문횟수: {len(visitor_ids)}')
print(f'순방문자수: {len(unique_visitor)}')
#고유방문자 목록 출력
for visitor_id in unique_visitor:
    print(f'

In [ ]:
# 중첩반목문

In [13]:
for j in range (2,10):
    for i in range (1,10):
        print (f'{j}*{i}={j*i}')

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

In [14]:
#구구단을 출력하세요.
for j in range (2,10,2):
    for i in range (1,10):
        print (f'{j}*{i}={j*i}')

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72

In [15]:
#구구단을 출력하세요.
for j in range (1,10,2):
    for i in range (1,10):
        print (f'{j}*{i}={j*i}')

1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

In [18]:
char_list=['a', 'b', 'c']
for i,v in enumerate(char_list):
    print(i,v)

0 a
1 b
2 c

In [22]:
list(enumerate(char_list,1))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [21]:
dir(enumerate(char_list))

['__class__',
 '__class_getitem__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [24]:
#내장함수 zip
char_list2=['테스트', '입니다', '다시']
for ham in zip (char_list, char_list2):
    print (ham)

('a', '테스트')
('b', '입니다')
('c', '다시')

In [25]:
char_obj=zip(char_list, char_list2):
char_obj

SyntaxError: invalid syntax (725694954.py, line 1)

In [26]:
names = ['Alice', 'Bob', 'Charlie']
ages = [25, 30, 35]
cities = ['서울', '부산', '대구']

for name, age, city in zip(names, ages, cities):
    print(f"{name}은(는) {age}살이고 {city}에 살고 있습니다.")

Alice은(는) 25살이고 서울에 살고 있습니다.
Bob은(는) 30살이고 부산에 살고 있습니다.
Charlie은(는) 35살이고 대구에 살고 있습니다.

In [28]:
import datetime
calc_day=datetime.date(year,month,day).weekday()
week_day=['월', '화', '수', '목', '금', '토', '일']

print(f'{week_day[calc_day]}요일입니다.')

NameError: name 'year' is not defined

In [1]:
students=[{'num':'1', 'name':'hong', 'math':90, 'sci':60, 'eng': 70},
          {'num':'2', 'name':'kong', 'math':70, 'sci':70, 'eng': 70},
          {'num':'3', 'name':'gang', 'math':95, 'sci':60, 'eng': 80}]

for stu in students:
    stu ['total']=stu['sci']+stu['math']+stu['eng']
    print(stu)

{'num': '1', 'name': 'hong', 'math': 90, 'sci': 60, 'eng': 70, 'total': 220}
{'num': '2', 'name': 'kong', 'math': 70, 'sci': 70, 'eng': 70, 'total': 210}
{'num': '3', 'name': 'gang', 'math': 95, 'sci': 60, 'eng': 80, 'total': 235}

In [2]:
students[0]

{'num': '1', 'name': 'hong', 'math': 90, 'sci': 60, 'eng': 70, 'total': 220}

In [3]:
students[1]

{'num': '2', 'name': 'kong', 'math': 70, 'sci': 70, 'eng': 70, 'total': 210}

In [4]:
students[2]

{'num': '3', 'name': 'gang', 'math': 95, 'sci': 60, 'eng': 80, 'total': 235}

In [5]:
students[3]

IndexError: list index out of range

In [6]:
s=students[0]
s

{'num': '1', 'name': 'hong', 'math': 90, 'sci': 60, 'eng': 70, 'total': 220}

In [7]:
s['num']

'1'

In [8]:
s['name']

'hong'

In [9]:
s['math']

90

In [10]:
s['sci']

60

In [11]:
s=students[2]
s

{'num': '3', 'name': 'gang', 'math': 95, 'sci': 60, 'eng': 80, 'total': 235}

In [12]:
s['eng']

80

In [14]:
for s in students:
    s['avg']='total'/3

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [5]:
students = [
    {'num':'1','name':'kim',  'kor':80,'math':90,'eng':100},
    {'num':'2','name':'park', 'kor':90,'math':60,'eng':80},
    {'num':'3','name':'hong', 'kor':70,'math':70,'eng':80},
    {'num':'4','name':'hong1','kor':70,'math':70,'eng':80},
    {'num':'5','name':'hong2','kor':70,'math':70,'eng':80},
]

In [9]:
students[0]

{'num': '1', 'name': 'kim', 'kor': 80, 'math': 90, 'eng': 100, 'avg': 90.0}

In [16]:
for s in students:
    s['total']=s['kor']+s['math']+s['eng']
    print(s)

{'num': '1', 'name': 'kim', 'kor': 80, 'math': 90, 'eng': 100, 'avg': 90.0, 'total': 270}
{'num': '2', 'name': 'park', 'kor': 90, 'math': 60, 'eng': 80, 'avg': 76.66666666666667, 'total': 230}
{'num': '3', 'name': 'hong', 'kor': 70, 'math': 70, 'eng': 80, 'avg': 73.33333333333333, 'total': 220}
{'num': '4', 'name': 'hong1', 'kor': 70, 'math': 70, 'eng': 80, 'avg': 73.33333333333333, 'total': 220}
{'num': '5', 'name': 'hong2', 'kor': 70, 'math': 70, 'eng': 80, 'avg': 73.33333333333333, 'total': 220}

In [ ]:
for s in students:
    rank=

In [1]:
students = [
    {'num':'1','name':'kim',  'kor':80,'math':90,'eng':100},
    {'num':'2','name':'park', 'kor':90,'math':60,'eng':80},
    {'num':'3','name':'hong', 'kor':70,'math':70,'eng':80},
    {'num':'4','name':'hong1','kor':70,'math':70,'eng':80},
    {'num':'5','name':'hong2','kor':70,'math':70,'eng':80},
]

In [2]:
for s in students:
    s['total']=s['kor']+s['math']+s['eng']
    print(s)

{'num': '1', 'name': 'kim', 'kor': 80, 'math': 90, 'eng': 100, 'total': 270}
{'num': '2', 'name': 'park', 'kor': 90, 'math': 60, 'eng': 80, 'total': 230}
{'num': '3', 'name': 'hong', 'kor': 70, 'math': 70, 'eng': 80, 'total': 220}
{'num': '4', 'name': 'hong1', 'kor': 70, 'math': 70, 'eng': 80, 'total': 220}
{'num': '5', 'name': 'hong2', 'kor': 70, 'math': 70, 'eng': 80, 'total': 220}

In [6]:
for s in students:
    s['avg']=s['total']/3
    print(s)

{'num': '1', 'name': 'kim', 'kor': 80, 'math': 90, 'eng': 100, 'total': 270, 'avg': 90.0}
{'num': '2', 'name': 'park', 'kor': 90, 'math': 60, 'eng': 80, 'total': 230, 'avg': 76.66666666666667}
{'num': '3', 'name': 'hong', 'kor': 70, 'math': 70, 'eng': 80, 'total': 220, 'avg': 73.33333333333333}
{'num': '4', 'name': 'hong1', 'kor': 70, 'math': 70, 'eng': 80, 'total': 220, 'avg': 73.33333333333333}
{'num': '5', 'name': 'hong2', 'kor': 70, 'math': 70, 'eng': 80, 'total': 220, 'avg': 73.33333333333333}

In [10]:
#while문
sum=0
for i in range (1,11):
    sum +=i
sum

55

In [1]:
i=1
sum=0
while True:
    sum +=i
    i +=1
    if i >= 10:
        break
print (sum, i)

45 10

In [ ]:
user_input= None

while user_input !="Exit":
    user_input=input('명령을 입력하세요.(Exit을 넣으면 종료합니다.)').lower()
    print (f'입력하신 명령은 {user_input}입니다.')

print('exit 명령을 입력하셨습니다.')

In [2]:
for i in range (1,6):
    print ('*'*i)

*
**
***
****
*****

In [3]:
i=1
while i<6:
    print('*'*i)
    i +=1

*
**
***
****
*****

In [ ]:
#업앤다운 게임

In [4]:
import random
number = random.randint(1,10)
number

4

In [9]:
#정답맞추기
cnt=0
while True:
    answer= int(input('1~10사이의 숫자를 맞추세요'))
    cnt +=1
    if answer==number :
        print(f'축하합니다. 정답입니다. 도전횟수: {cnt}')
        break
    elif answer > number :
        print('down')
    else:
        print ('up')

1~10사이의 숫자를 맞추세요 1

up

1~10사이의 숫자를 맞추세요 5

down

1~10사이의 숫자를 맞추세요 4

축하합니다. 정답입니다. 도전횟수: 3

In [12]:
p_counter=0
m_counter=0
o_counter=0
while True:
    number=int(input("숫자를 입력하세요. quit 입력시 종료됩니다:"))
    if number =="quit":
        break
    if number > 0 :
        p_counter +=1
        print(f'양수입니다. 도전횟수: {p_counter}')
    elif number < 0 :
        m_counter +1
        print (f'음수입니다. 도전횟수: {m_counter}')
    else number=0:
        o_counter +1
        print (f'음수도 아니고 양수도 아닙니다. 도전횟수: {o_counterr}')
print ("프로그램 종료")

SyntaxError: expected ':' (1914403960.py, line 14)